<!--
<%= form_with(model: menu, local: true, class: 'record_form') do |form| %>
  <%= show_errors(menu) %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :contact_sms %>
    <%= form.text_field :contact_sms, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
    <% if menu.active? %>
      <%= form.hidden_field :active, value: false %>
      <%= form.submit 'Deactivate', class: 'btn btn-danger float-right' %>
    <% else %>
      <%= form.hidden_field :active, value: true %>
      <%= form.submit 'Activate', class: 'btn btn-success float-right' %>
    <% end %>
  </div>
<% end %>
-->
