<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @menu.reference %>
</p>

<p>
  <strong>Data:</strong>
  <%= @menu.data %>
</p>

<p>
  <strong>Active:</strong>
  <%= @menu.active %>
</p>

<p>
  <strong>Account:</strong>
  <%= @menu.account_id_id %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
