<%= full_width_container do %>
  <div id="menu"></div>
<% end %>

<% content_for :templates do %>
  <%= render partial: 'menus/menu_view_template' %>
  <%= render partial: 'menus/group_view_template' %>
  <%= render partial: 'menus/product_view_template' %>
<% end %>

<script>
  let app = new MenuApp;
  app.start(<%== render template: 'menus/show.json' %>);
</script>
