<%= form_with(model: group, local: true, class: 'record_form') do |form| %>
  <%= show_errors(group) %>

  <%= form.hidden_field(:menu_id, value: @group.menu.id) %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: :true %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <div class="form-check">
      <%= form.check_box :active, class: 'form-check-input' %>
      <%= form.label :active, class: 'form-check-label'%>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
