<table class="table table-striped sortable record_table" data-sortable-type="group">
  <thead>
    <tr>
      <th></th>
      <th>Active</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% groups.each do |group| %>
      <%= content_tag :tr, data: {id: group.id} do %>
        <td class="sorter">!sorter!</td>
        <td>
          <%= form_with(model: group, local: true, index: group.id) do |form| %>
            <div class="form-check">
              <%= form.check_box :active, class: 'form-check-input active' %>
            </div>
          <% end %>
        </td>
        <td><%= group.name %></td>
        <td>
          <%= link_to 'Edit', edit_group_path(group), class: 'btn btn-primary' %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
