<div id="edit_group">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>
          <%= @group.name %>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= render 'form', group: @group %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="sortable_group">
          <%= link_to 'New Product', new_product_path(group_id: @group.id), class: 'float-right btn btn-secondary' %>
          <h2>Products</h2>
          <%= render partial: 'products/index', locals: {products: @group.products} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= link_to @group.menu.name, edit_menu_path(@group.menu), class: 'btn btn-warning' %>
      </div>
    </div>
  </div>
</div>
