<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @group.order %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @group.reference %>
</p>

<p>
  <strong>Data:</strong>
  <%= @group.data %>
</p>

<p>
  <strong>Active:</strong>
  <%= @group.active %>
</p>

<p>
  <strong>Account:</strong>
  <%= @group.account_id_id %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @group.menu_id_id %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
