<% row_classes = (order.seen? ? ['seen'] : ['unseen']) %>
<% row_classes << (order.active? ? 'active' : 'inactive') %>

<%= content_tag :tr, data: {id: order.id}, class: row_classes do %>
  <td><%= order.id %></td>
  <td><%= number_to_currency(order.total) %></td>
  <td><%= order.created_at %></td>
  <td>
    <%= link_to 'View Order', order_path(order), class: 'btn btn-sm btn-primary' %>
  </td>
<% end %>
