<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @order_item.amount %>
</p>

<p>
  <strong>Data:</strong>
  <%= @order_item.data %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order_id_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order_item.product_id_id %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
