<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @order_notification.message %>
</p>

<p>
  <strong>Account:</strong>
  <%= @order_notification.account_id %>
</p>

<p>
  <strong>Message type:</strong>
  <%= @order_notification.message_type %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_notification.order_id %>
</p>

<%= link_to 'Edit', edit_order_notification_path(@order_notification) %> |
<%= link_to 'Back', order_notifications_path %>
