<%= form_with(model: product, local: true) do |form| %>
  <%= render partial: 'layouts/partials/errors', locals: {record: product} %>

  <%= form.hidden_field :group_id, value: product.group_id || params[:group_id] %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
