<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @product.order %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Data:</strong>
  <%= @product.data %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Account:</strong>
  <%= @product.account_id_id %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @product.menu_id_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @product.group_id_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
