<!DOCTYPE html>
<html>
  <head>
    <title>The Forge Web</title>
    <%= favicon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <%= content_for :templates %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <%= render partial: 'layouts/partials/nav' %>
    <%= render partial: 'layouts/partials/flash' %>
    <%= yield %>
    <script>
      <% if current_account %>
        $(document).ready(function(){
          startOrderChannel('<%= current_account.id %>');
        });
      <% end %>
    </script>
    <% console if Rails.env.development? %>
  </body>
</html>
