<%= form_with(model: account, local: true) do |form| %>
  <%= form.fields_for :users do |user_fields| %>
    <% if account.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(account.errors.count, "error") %>
          prohibited this Account from being saved:
        </h2>
        <ul>
          <% account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= user_fields.label :email %>
          <%= user_fields.password_field :email, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= user_fields.label :password %>
          <%= user_fields.password_field :password, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :contact_email %>
          <%= form.email_field :contact_email, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :contact_sms %>
          <%= form.phone_field :contact_sms, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4>Credentials</h4>
      </div>
    </div>
    <%= form.fields_for :credentials do |credential_fields| %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= credential_fields.label :username %>
            <%= credential_fields.text_field :username, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= credential_fields.label :token %>
            <%= credential_fields.text_field :token, class: 'form-control', disabled: true %>
          </div>
        </div>
      </div>
    <% end %> 
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <% if account.new_record? %>
            <%= form.submit 'Create Account', class: 'btn btn-primary' %>
          <% else %>
            <%= form.submit 'Upate Account', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
